<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="osu_rank.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="WpfApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WpfApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <osu_rank.Properties.Settings>
            <setting name="LastWindow" serializeAs="String">
                <value>OneUser</value>
            </setting>
            <setting name="apikey" serializeAs="String">
                <value />
            </setting>
            <setting name="RefreshEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RefreshDelay" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DefaultPlayer" serializeAs="String">
                <value>peppy</value>
            </setting>
            <setting name="DefaultPlayer2" serializeAs="String">
                <value>Cookiezi</value>
            </setting>
            <setting name="DefaultGamemode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartupCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LanguageCode" serializeAs="String">
                <value />
            </setting>
            <setting name="CanUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RippleOnly" serializeAs="String">
                <value>False</value>
            </setting>
        </osu_rank.Properties.Settings>
        <WpfApplication1.Properties.Settings>
            <setting name="LastWindow" serializeAs="String">
                <value>OneUser</value>
            </setting>
        </WpfApplication1.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WpfApplication1.Properties.Settings>
            <setting name="apikey" serializeAs="String">
                <value>5eaf09f888b192ed8d4a81b7ff3f531f508d87c9</value>
            </setting>
        </WpfApplication1.Properties.Settings>
    </applicationSettings>
</configuration>
